:root{
    --azulFuerte: #222831;
    --azulMedio: #30475E;
    --azulDebil: #8EA4BF;
    --cafeSuave: #C1A57B;
    --blanco: #ECECEC;
}

article{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article form, article div{
    width: 75%;
    margin: 1em;
    padding: 2em;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
form h1{
    text-align: center;
    font-size: 2em;
    padding: 0.5em;


}
form div{
    padding: 0.2em;
    display: flex;
    flex-direction: column;
}
.full{
    grid-column: span 2;
}

.titulo-1{
    color: var(--azulMedio);
}

.btn-1{
    display: block;
    text-decoration: none;
    background-color: var(--azulMedio);
    color: var(--cafeSuave);
    padding: 1em;
    cursor: pointer;
}

.contenedor-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-1:hover{
    background-color: var(--azulFuerte);
    color: var(--blanco);
}