:root{
    --azulFuerte: #222831;
    --azulMedio: #30475E;
    --azulDebil: #8EA4BF;
    --cafeSuave: #C1A57B;
    --blanco: #ECECEC;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: var(--azulFuerte);
}
.header{
    display: flex;   
    align-items: center;
    padding: 1em 0.5em;
}
.logo{
    color: white;
    width: 50%;
    font-size: 2em;
}
.urls{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}   
.urls>p{
    margin: 0 1em;;
}
.urls a{
    color: white;
    font-style: none;
    text-decoration: none;
    padding: 0.25em;
}
.urls a:hover{
    background-color: var(--azulMedio);
    border-radius: 10px;
    transition: font-weight 0.5ms;
}
.button{
    color: var(--blanco);
    display: none;
    width: 25%;
}
.button label{
    width: 100%;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button>input{
    display: none;
}
@media (max-width: 700px ){
    .button{
        display: initial;
    }
    .urls{
        position: absolute;
        background-color: var(--azulFuerte);
        top: 11vh;
        height: 80%;
        left: 0;
        flex-direction: column;
        width: 100%;
        font-size: 2em;
        justify-content:  flex-start;
        margin-left: -100%;
    }
    .urls p{
        margin: 1em;
    }
    .button #btnMenu:checked ~.urls{
        margin-left: 0;
    }
}